@using App.Web.WebConfig.Consts
<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3 class="footer-heading mb-4 text-white">Thông tin</h3>
				<p>
					Chúng tôi là đối tác đồng hành trong mọi cuộc hành trình của bạn.
				</p>
				<p>
					Hãy để chúng tôi đưa bạn đến những nơi thật tuyệt vời.
				</p>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li><a asp-action="Index" asp-area="" asp-controller="Room">Danh sách phòng</a></li>
							<li data-page="news-page">
								<a asp-action="Index" asp-controller="News">Tin Tức</a>
							</li>
							<li><a asp-action="About" asp-controller="Home">Thông tin</a></li>
							<li><a asp-action="Contact" asp-controller="Home">Liên hệ</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
							@if (Context.User.Identity.IsAuthenticated)
							{
								var roleId = Convert.ToInt32(Context.User.Claims.SingleOrDefault(c => c.Type.Contains(AppClaimTypes.RoleId))?.Value);
								@if (roleId != AppConst.ROLE_CUSTOMER_ID)
								{
									<li>
										<a target="_blank" asp-area="Admin" asp-controller="Home" asp-action="Index">
											Trang quản lý
										</a>
									</li>
								}

								<li>
									<a asp-controller="Account" asp-action="UserProfile">
										<i class="las la-user-cog"></i>Trang cá nhân
									</a>
								</li>

								<li>
									<a asp-controller="Account" asp-action="Logout">
										<i class="fa fa-sign-out"></i> Đăng xuất
									</a>
								</li>
							}
							else
							{
								<li>
									<a type="button"
									   data-bs-toggle="modal"
									   data-bs-target="#loginModals"
									   style="cursor:default">
										Đăng nhập
									</a>
								</li>
								<li>
									<a type="button"
									   data-bs-toggle="modal"
									   data-bs-target="#signupModals"
									   style="cursor:default">
										Đăng ký
									</a>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>


			<div class="col-md-2">
				<div class="col-md-12">
					<h3 class="footer-heading mb-4 text-white">Mạng xã hội</h3>
				</div>
				<div class="col-md-12">
					<p>
						<a href="https://www.facebook.com/" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
						<a href="https://x.com/?lang=vi" class="p-2"><span class="icon-twitter"></span></a>
						<a href="https://www.instagram.com/" class="p-2"><span class="icon-instagram"></span></a>
					</p>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-12">
				<p>
					Copyright &copy;
					<script data-cfasync="false"
							src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
					<script>document.write(new Date().getFullYear());</script> Được tạo bởi Vy & Ý</a>

				</p>
			</div>

		</div>
	</div>
</footer>