<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - App.Web</title>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
	<link href="~/clientlte/fonts/icomoon/style.css" rel="stylesheet" />
	<link href="~/clientlte/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/clientlte/css/magnific-popup.css" rel="stylesheet" />
	<link href="~/clientlte/css/jquery-ui.css" rel="stylesheet" />
	<link href="~/clientlte/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="~/clientlte/css/owl.theme.default.min.css" rel="stylesheet" />
	<link href="~/clientlte/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="~/clientlte/css/animate.css" rel="stylesheet" />
	<link href="~/clientlte/fonts/flaticon/font/flaticon.css" rel="stylesheet" />
	<link href="~/clientlte/css/aos.css" rel="stylesheet" />
	<link href="~/clientlte/css/style.css" rel="stylesheet" />
	@RenderSection("Css", false)

</head>
<body>

	<partial name="_HeaderBar" />
	<partial name="_SiteMobileMenu" />
	<partial name="_SlickBanner" />

	@RenderBody()

	<partial name="_Footer" />

	<script src="~/clientlte/js/jquery-3.3.1.min.js"></script>
	<script src="~/clientlte/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/clientlte/js/jquery-ui.js"></script>
	<script src="~/clientlte/js/popper.min.js"></script>
	<script src="~/clientlte/js/bootstrap.min.js"></script>
	<script src="~/clientlte/js/owl.carousel.min.js"></script>
	<script src="~/clientlte/js/jquery.stellar.min.js"></script>
	<script src="~/clientlte/js/jquery.countdown.min.js"></script>
	<script src="~/clientlte/js/jquery.magnific-popup.min.js"></script>
	<script src="~/clientlte/js/aos.js"></script>
	<script src="~/clientlte/js/mediaelement-and-player.min.js"></script>
	<script src="~/clientlte/js/main.js"></script>

	<script>
		$(document).ready(function () {
			$('.popup-vimeo').magnificPopup({
				type: 'iframe',
				iframe: {
					patterns: {
						mp4: {
							index: '.mp4', // String that splits URL in a two parts, second part should be %id%
							id: '', // String that splits URL in a two parts, second part should be %id%
							src: '%id%?autoplay=1' // URL that will be set as a source for iframe with autoplay
						}
					}
				}
			});
		});
	</script>

	@await Component.InvokeAsync("Notyf")

	@await RenderSectionAsync("Scripts", false)
</body>
</html>
