<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] | Hotel</title>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
	<link rel="icon" type="image/x-icon" href="~/adminLTE/images/logo-main.png" asp-append-version="true" />

	<link href="~/clientlte/fonts/icomoon/style.css" rel="stylesheet" />
	<link href="~/clientlte/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/clientlte/css/magnific-popup.css" rel="stylesheet" />
	<link href="~/clientlte/css/jquery-ui.css" rel="stylesheet" />
	<link href="~/clientlte/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="~/clientlte/css/owl.theme.default.min.css" rel="stylesheet" />
	<link href="~/clientlte/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="~/clientlte/css/animate.css" rel="stylesheet" />
	<link href="~/clientlte/fonts/flaticon/font/flaticon.css" rel="stylesheet" />
	<link href="~/clientlte/css/aos.css" rel="stylesheet" />
	<!-- App Css-->
	<link href="~/adminLTE/css/app.min.css" rel="stylesheet" type="text/css" />
	<!-- Icons Css -->
	<link href="~/adminLTE/css/icons.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/clientlte/css/style.css" rel="stylesheet" asp-append-version="true" />
	@RenderSection("Css", false)

</head>
<body>

	<partial name="_HeaderBar" />
	<partial name="_SiteMobileMenu" />
	@await Component.InvokeAsync("SlickBanner")

	@RenderBody()
	<partial name="_Noti" />
	<partial name="_LoginModals" model="new App.Web.ViewModels.Account.LoginClientVM()" />
	<partial name="_RegisterModals" model="new App.Web.ViewModels.Account.UserRegisterVM()"/>
	<partial name="_Footer" />

	<script src="~/clientlte/js/jquery-3.3.1.min.js"></script>
	<script src="~/clientlte/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/clientlte/js/jquery-ui.js"></script>
	<script src="~/clientlte/js/popper.min.js"></script>
	<script src="~/clientlte/js/bootstrap.min.js"></script>
	<script src="~/clientlte/js/owl.carousel.min.js"></script>
	<script src="~/clientlte/js/jquery.stellar.min.js"></script>
	<script src="~/clientlte/js/jquery.countdown.min.js"></script>
	<script src="~/clientlte/js/jquery.magnific-popup.min.js"></script>
	<script src="~/clientlte/js/aos.js"></script>
	<script src="~/clientlte/js/mediaelement-and-player.min.js"></script>
	<script src="~/clientlte/js/main.js"></script>
	<script src="~/adminLTE/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<script src="~/adminLTE/libs/prismjs/prism.js"></script>
	<script src="~/adminLTE/js/pages/form-validation.init.js"></script>
	<script src="~/js/client/account/login-singup-validate.js"></script>
	<script src="~/js/client/order/cart.js"></script>

	<!-- Modal Js -->
	<script src="~/adminLTE/js/pages/modal.init.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

	<script>
		$(document).ready(function () {
			$('.popup-vimeo').magnificPopup({
				type: 'iframe',
				iframe: {
					patterns: {
						mp4: {
							index: '.mp4', // String that splits URL in a two parts, second part should be %id%
							id: '', // String that splits URL in a two parts, second part should be %id%
							src: '%id%?autoplay=1' // URL that will be set as a source for iframe with autoplay
						}
					}
				}
			});
		});
		$(document).ready(function () {
			$('.slider-for').slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: false,
				fade: true,
				asNavFor: '.slider-nav',
				autoplay: true,
				autoplaySpeed: 2000
			});
			$('.slider-nav').slick({
				slidesToShow: 3,
				slidesToScroll: 1,
				asNavFor: '.slider-for',
				dots: true,
				centerMode: true,
				focusOnSelect: true,
				arrows: true,
				centerPadding: '0px'
			});
	</script>

	@await Component.InvokeAsync("Notyf")

	@await RenderSectionAsync("Scripts", false)
</body>
</html>
