<!-- Modal -->
<div class="modal fade zoomIn" id="addEquipment" tabindex="-1" aria-labelledby="addEquipmentLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addEquipmentLabel">Thêm thiết bị</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<hr />
			<form asp-action="Create" asp-controller="AppEquipment" asp-area="Admin" method="POST" autocomplete="off">
				<div class="modal-body">
					<input type="hidden" id="idEquipment" name="Id" />
					<div class="modal-body ml-4 col-sm-12 justify-content-center align-items-center">
						<div class="mb-3">
							<label for="equipmentName-field" class="form-label">Tên thiết bị</label>
							<input type="text" id="equipmentName-field" class="form-control" name="Name" placeholder="Tên thiết bị" required />
							<div class="invalid-feedback">
								Vui lòng nhập tên thiết bị.
							</div>
						</div>
						<div class="mb-3">
							<label for="equipmentDesc-field" class="form-label">Mô tả</label>
							<textarea textarea type="text" id="equipmentDesc-field" class="form-control" col="3" name="Description" placeholder="Mô tả" required></textarea>
							<div class="invalid-feedback">
								Vui lòng nhập mô tả.
							</div>
						</div>
						<div class="mb-3">
							<label for="equipmentType-field" class="form-label">Thuộc loại</label>
							@await Component.InvokeAsync("SelectListTypeE", new
								{
									selectedValue = Model?.TypeEquipmentId,
									_for = "TypeEquipmentId",
									allowNull = false
								})
							<div class="invalid-feedback">
								Vui lòng chọn loại thiết bị.
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="hstack gap-2 justify-content-end">
						<button type="submit" class="btn btn-success" id="add-btn">Thêm thiết bị</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--end modal -->