* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Đảm bảo chiều cao tối thiểu */
    color: #fff;
    padding-top: 60px; /* Khoảng trống cho header */
    padding-bottom: 40px; /* Khoảng trống cho footer */
    position: relative;
}

header {
    width: 100%;
    background-color: #0071C2   ;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo img {
    height: 30px;
}

.lang-select {
    display: flex;
    align-items: center;
}

.lang-select .flag {
    height: 20px;
    margin-right: 10px;
}
.lang-select a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    background-color: #0071C2 ;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.login-button:hover {
    background-color: #0071C2 ;
}

.divider {
    margin: 20px 0;
    color: #888;
    font-size: 14px;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social-button {
    width: 32%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensure the button is treated as a block element */
}

.google {
    background-color: #db4437;
}


.terms {
    font-size: 12px;
    color: #666;
}

.terms a {
    color: #0071c2;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}
