<div class="py-5 quick-contact-info">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div>
                    <span class="icon-room text-white h2 d-block"></span>
                    <h2>Địa chỉ trụ sở</h2>
                    <p class="mb-0">123-Nguyễn Văn Cừ <br> Ninh Kiều-Cần Thơ</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <span class="icon-clock-o text-white h2 d-block"></span>
                    <h2>Thời gian làm việc</h2>
                    <p class="mb-0">
                        Từ Thứ 2 đến thứ 6 - 8:00AM - 5:00PM <br>
                        Thứ 7 - 8:30AM - 10:00AM <br>
                        Chủ nhật không làm việc <br>
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <span class="icon-comments text-white h2 d-block"></span>
                    <h2>Liên hệ qua</h2>
                    <p class="mb-0">
                        Email: info@yoursite.com <br>
                        Phone: (123) 3240-345-9348
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>