<div class="site-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 mb-5 mb-md-0">
				<div class="img-border">
					<a href="~/clientlte/images/VidReviewWeb.mp4" class="popup-vimeo image-play">
						<span class="icon-wrap">
							<span class="icon icon-play"></span>
						</span>
						<img src="~/clientlte/images/img_2.jpg" alt="" class="img-fluid">
					</a>
				</div>				
				<img src="~/clientlte/images/img_1.jpg" alt="Image" class="img-fluid image-absolute" style="border-radius: 30px;">
			</div>
			<div class="col-md-5 ml-auto">
				<div class="section-heading text-left">
					<h2 class="mb-5">Thông tin về chúng tôi</h2>
				</div>
				<div class="mb-4" style="color:black">
					<h4><strong>Hệ thống đặt phòng khách sạn của chúng tôi được xây dựng để mang đến sự tiện lợi tối đa và trải nghiệm đẳng cấp cho khách hàng.&nbsp;</strong></h4>
					<blockquote><strong>Giao diện&nbsp;</strong></blockquote>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅Hiện đại</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅Thân thiện</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅Dễ sử dụng</p>
				</div>
				<p>
					<a href="~/clientlte/images/VidReviewWeb.mp4" class="popup-vimeo image-play">
						Xem trailer <span class="icon-arrow-right small"></span>
					</a>
				</p>
			</div>
			<div class="mb-4 mt-3" style="color:black">
				<p>Bạn có thể dễ dàng <strong>khám phá</strong>, <strong>so sánh giá</strong> và <strong>đặt phòng</strong> <em><u>tại hàng nghìn khách sạn trên toàn thế giới</u></em><u> </u>– từ những khu nghỉ dưỡng cao cấp đến các lựa chọn tiết kiệm.</p>
				<p>Chúng tôi tự hào cung cấp <strong>thông tin minh bạch</strong>, <strong>dịch vụ hỗ trợ khách hàng 24/7</strong> và hàng loạt ưu đãi hấp dẫn</p>
				<blockquote><strong>Giúp bạn không chỉ tiết kiệm </strong></blockquote>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;👉Thời gian⌚</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;👉Chi phí 💵 </p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✈️ Mà còn tận hưởng một kỳ nghỉ hoặc chuyến công tác hoàn hảo.</p>
				<blockquote><strong>Hãy để chúng tôi đồng hành cùng bạn trong hành trình trải nghiệm những khoảnh khắc đáng nhớ, bởi sự hài lòng của bạn chính là sứ mệnh của chúng tôi.</strong></blockquote>
				<p><strong><em>Lựa chọn chúng tôi – khởi đầu cho những chuyến đi đáng giá!</em></strong></p>
			</div>
		</div>
	</div>
</div>

<!-- Danh sách nhân viên -->
@await Component.InvokeAsync("UserAtAbout")

<!-- Danh sách khách sạn -->
@await Component.InvokeAsync("HotelAtAbout")