@model App.Web.Areas.Admin.ViewModels.News.AddOrUpdateNewsVM
@{
	ViewData["Title"] = "Cập nhật tin tức";
}
<div class="row">
	<div class="col-12">
		<div class="page-title-box d-sm-flex align-items-center justify-content-between">
			<h4 class="mb-sm-0">Quản lý tin tức</h4>

			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a asp-action="Index" asp-area="Admin" asp-controller="Home">Bảng tổng quan</a></li>
					<li class="breadcrumb-item active"><a asp-action="Index" asp-area="Admin" asp-controller="AppNews">Tin tức</a></li>
					<li class="breadcrumb-item active">Cập nhật tin tức</li>
				</ol>
			</div>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header align-items-center d-flex">
				<h4 class="card-title mb-0">Cập nhật tin tức</h4>
			</div><!-- end card header -->

			<div class="card-body">
				<div id="customerList">
					<div class="row gy-4">
						<form asp-action="EditNews" enctype="multipart/form-data" autocomplete="off" class="row g-3 needs-validation" novalidate>
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<partial name="_AddOrEditNews" />
							<div class="form-group">
								<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
							</div>
						</form>
					</div>
					<div class="d-flex justify-content-end">
						<div class="pagination-wrap hstack gap-2">
							<partial name="_BackToList" />
						</div>
					</div>
				</div>
			</div><!-- end card -->
		</div>
		<!-- end col -->
	</div>
	<!-- end col -->
</div>
<!-- end row -->
@section Css {
	<!-- quill css -->
	<link href="~/adminLTE/libs/quill/quill.core.css" rel="stylesheet" type="text/css" />
	<style>
		.ck-editor__editable {
			min-height: 302px !important;
		}
	</style>
}
@section Scripts {
	<script src="~/adminLTE/libs/prismjs/prism.js"></script>
	<script src="~/adminLTE/js/pages/form-validation.init.js"></script>
	<script src="~/js/admin/news/news-validate.js" asp-append-version="true"></script>
	<!-- ckeditor -->
	<script type="text/javascript" src="@Url.Content("~/adminLTE/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js")"></script>
	<!-- quill js -->
	<script src="~/adminLTE/libs/quill/quill.min.js"></script>

	<script>
		$(document).ready(function () {
			// Initialize CKEditor
			ClassicEditor
				.create(document.querySelector('.ckeditor-classic'))
				.then(editor => {
					window.editor = editor;

					// Load existing data into CKEditor when editing
					var existingContent = document.getElementById('newsSummary-field-textarea').value;
					editor.setData(existingContent);

					// Handle form submission
					document.querySelector('form').addEventListener('submit', function () {
						var editorData = editor.getData();
						document.getElementById('newsSummary-field-textarea').value = editorData;
					});
				})
				.catch(error => {
					console.error(error);
				});

			// Cover
			// Check if there's an existing image and display it
			var existingImgSrc_Cover = '@(Model.CoverImgPath.StartsWith("https", StringComparison.OrdinalIgnoreCase) || Model.CoverImgPath.StartsWith("/", StringComparison.OrdinalIgnoreCase) ? Model.CoverImgPath : "/" + Model.CoverImgPath)';
			if (existingImgSrc_Cover) {
				$('#imgNewsPreview_update').show().attr('src', existingImgSrc_Cover);
				$('#iconNewsPreview_update').hide();
			}
			// File input change event
			$('#fileNewsInput_update').on('change', function () {
				var fileInput = $(this);
				var file = fileInput[0].files[0];
				console.log(file);
				if (file) {
					$('#imgNewsPreview_update').show().attr('src', URL.createObjectURL(file));
					$('#iconNewsPreview_update').hide();
				} else {
					$('#imgNewsPreview_update').css('display', 'none').attr('src', '');
					$('#iconNewsPreview_update').hide();
				}
			});

			// Thumbnail
			// Check if there's an existing image and display it
			var existingImgSrc_Thumbnail = '@(Model.CoverImgThumbnailPath.StartsWith("https", StringComparison.OrdinalIgnoreCase) || Model.CoverImgThumbnailPath.StartsWith("/", StringComparison.OrdinalIgnoreCase) ? Model.CoverImgThumbnailPath : "/" + Model.CoverImgThumbnailPath)';
			if (existingImgSrc_Thumbnail) {
				$('#imgNewsPreview_Thumbnail_update').show().attr('src', existingImgSrc_Thumbnail);
				$('#iconNewsPreview_Thumbnail_update').hide();
			}
			// File input change event
			$('#fileNewsInput_Thumbnail_update').on('change', function () {
				var fileInput = $(this);
				var file = fileInput[0].files[0];
				console.log(file);
				if (file) {
					$('#imgNewsPreview_Thumbnail_update').show().attr('src', URL.createObjectURL(file));
					$('#iconNewsPreview_Thumbnail_update').hide();
				} else {
					$('#imgNewsPreview_Thumbnail_update').css('display', 'none').attr('src', '');
					$('#iconNewsPreview_Thumbnail_update').hide();
				}
			});

			// Stamp
			// Check if there's an existing image and display it
			var existingImgSrc_StampPath = '@(Model.StampPath.StartsWith("https", StringComparison.OrdinalIgnoreCase) || Model.StampPath.StartsWith("/", StringComparison.OrdinalIgnoreCase) ? Model.StampPath : "/" + Model.StampPath)';
			if (existingImgSrc_StampPath) {
				$('#imgNewsPreview_Stamp_update').show().attr('src', existingImgSrc_StampPath);
				$('#iconNewsPreview_Stamp_update').hide();
			}
			// File input change event
			$('#fileNewsInput_Stamp_update').on('change', function () {
				var fileInput = $(this);
				var file = fileInput[0].files[0];
				console.log(file);
				if (file) {
					$('#imgNewsPreview_Stamp_update').show().attr('src', URL.createObjectURL(file));
					$('#iconNewsPreview_Stamp_update').hide();
				} else {
					$('#imgNewsPreview_Stamp_update').css('display', 'none').attr('src', '');
					$('#iconNewsPreview_Stamp_update').hide();
				}
			});
		});
	</script>
}