<!-- Modal -->
<div class="modal fade zoomIn" id="addBranchHotel" tabindex="-1" aria-labelledby="addBranchHotelLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addBranchHotelLabel">Thêm chi nhánh</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<hr />
			<form asp-action="Create" asp-controller="AppBranchHotel" asp-area="Admin" method="POST" enctype="multipart/form-data">
				<div class="modal-body">
					<input type="hidden" id="idBranchHotel" name="Id" />
					<div class="modal-body ml-4 col-sm-12 justify-content-center align-items-center d-flex">
						<div class="d-block col-6">
							<div class="mb-3">
								<label for="branchName-field" class="form-label">Tên chi nhánh</label>
								<input type="text" id="branchName-field" class="form-control" name="Name" placeholder="Tên chi nhánh" required />
							</div>
							<div class="mb-3">
								<label for="branchAddress-field" class="form-label">Địa chỉ</label>
								<input type="text" id="branchAddress-field" class="form-control" name="Address" placeholder="Tên địa chỉ" required />
							</div>
							<div class="mb-3 d-flex">
								<div class="col-5" style="margin-right: 0.7rem;">
									<label for="branchQuantityStaff-field" class="form-label">Số lượng nhân viên</label>
									<input type="number" id="branchQuantityStaff-field" class="form-control" name="QuantityStaff" placeholder="Số lượng nhân viên" required />
								</div>
								<div class="col-5 ms-5">
									<label for="branchQuantityRoom-field" class="form-label">Số lượng phòng</label>
									<input type="number" id="branchQuantityRoom-field" class="form-control" name="QuantityRoom" placeholder="Số lượng phòng" required />

								</div>
							</div>
							<div class="mb-3">
								<label for="branchAddress-field" class="form-label">Thuộc khách sạn</label>
								@await Component.InvokeAsync("SelectListHotel", new
									{
										selectedValue = Model?.HotelId,
										_for = "HotelId",
										allowNull = false
									})
							</div>
							<div class="mb-3">
								<label for="branchDesc-field" class="form-label">Mô tả</label>
								<textarea textarea type="text" id="branchDesc-field" class="form-control" col="3" name="Description" placeholder="Mô tả" required></textarea>
							</div>
						</div>
						<div class="position-relative col-8 col-sm-6 ms-5">
							<div style="opacity: 1">
								<div class="text-center justify-content-center align-items-center" style="border: dotted 2px rgb(139, 139, 139);  width: 21.875rem; height: 12.5rem">
									<img id="imagePreview" src="/" alt="" style="width: 21.6875rem; height: 12.25rem;object-fit:cover; display: none">
									<i id="iconPreview" class="fas fa-cloud-upload-alt" style="font-size: 90px; color: rgb(10, 176, 202); margin-top:40px"></i>
								</div>
								<input name="ImgPath" class="form-control border border-secondary position-absolute" type="file" id="fileInput" style="width: 21.875rem; height: 12.5rem; opacity: 0; top: 0" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="hstack gap-2 justify-content-end">
						<button type="submit" class="btn btn-success" id="add-btn">Thêm chi nhánh</button>
						<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i>Làm mới</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--end modal -->